<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.secondTeamProject.dao.ICompanyTransportDAO">
	<resultMap id="CompanyTransportResultMap" type="com.solvd.secondTeamProject.model.CompanyTransport">
		<id property="id" column="id"></id>
		<result property="capacity" column="ct_capacity"></result>
		<!--<association property="transportType" resultMap="com.solvd.secondTeamProject.dao.ITransportDAO.TransportResultMap" columnPrefix="tt_" column="transports_id" foreignColumn="tt_id"/>-->
	</resultMap>
</mapper>