<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.secondTeamProject.dao.IWarehouseDAO">
	<resultMap id="WarehouseResultMap" type="com.solvd.secondTeamProject.model.Warehouse">
		<id property="id" column="id"></id>
		<result property="name" column="wh_name"></result>
	  	<!-- <collection property="goods" javaType="ArrayList" ofType="com.solvd.secondTeamProject.model.Product" columnPrefix="good_" resultMap="com.solvd.secondTeamProject.dao.IProductDAO.ProductResultMap" /> -->
	</resultMap>
</mapper>